
.main-container{
  padding: 25px;
  padding-top: 80px;
}

main{
  padding: 10vw;
  background: #a80d0d;
  box-shadow:  7px 7px 14px #8f0b0b, 
             -7px -7px 14px #c10f0f;
  border-radius: 5px;
}
h2{
  color: aliceblue;
  font-weight: bolder;
}
p{
  color: #df5454;
  font-size: 1em;
}
.main-button a{
  padding-right: 10px;
  padding-left: 10px;
}

.btn {
  font-family: 'Mukta Malar', sans-serif;
  width:100%;
}

.col-sm-6{
  padding: 10px;
}